<footer class="footer-area-l9 bg-lochinvar position-relative">
  <div class="footer-curve-shape-l9 d-none d-lg-block">
    <img src="image/landing-9/footer-curve.svg" alt="curve">
</div>
  <div class="container">
    <div class="row justify-content-lg-start justify-content-center footer-l9-area-items">
      <div class="col-xl-2 col-lg-4 col-sm-9">
        <div class="footer-content-l9 text-sm-center text-lg-start">
          <a href="#"><img src="image/logo/logo-white.png" alt="image"></a>
          <p>3059, Whtier Landing</p>
          <p>info@whiter.co</p>
          <p>Call us: +1-205-2084</p>
        </div>
      </div>
      <div class="offset-xl-3 col-xl-2 col-lg-3 col-md-5 col-sm-4">
        <div class="heading">
          <h3>Useful links</h3>
        </div>
        <ul class="list-unstyled">
          <li><a href="#">Log in</a></li>
          <li><a href="#">Entries feed </a></li>
          <li><a href="#">Comments feed </a></li>
          <li><a href="#">WordPress.org </a></li>
        </ul>
      </div>
      <div class="offset-xl-1 col-xl-3 col-lg-3 col-md-5 col-sm-8">
        <div class="heading subs-form-l9-head">
          <h3>Subscribe to the newsletter</h3>
        </div>

        <div class="subscribe-form-l9">
          <form action="#">
            <div class="form-group">
              <input type="text" name="name2" id="name2" class="form-control" placeholder="Your name*">
            </div>
            <div class="form-group">
              <input type="email" name="email2" id="email2" class="form-control" placeholder="Email address*">
            </div>
            <div class="foot-sub-btn-l9">
              <button type="submit" class="btn focus-reset btn-style-05">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-border-l9"></div>
        <div class="copyright-text-l9 text-center">
            <p>@ Copyright 2021, All Rights Reserved by FinestDevs</p>
        </div>
      </div>
    </div>
  </div>
</footer>