<footer class="footer-area-l3 position-relative">
<div class="container">
  <div class="row justify-content-center footer-l3-area-items">
    <div class="col-xl-4 col-lg-4 col-sm-9">
      <div class="footer-content-l3 text-sm-center text-lg-start">
        <a href="#"><img src="image/logo/logo-black.png" alt="image"></a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
      </div>
    </div>
    <div class="offset-xl-2 col-xl-2 col-lg-3 col-sm-4">
      <h3>Company</h3>
      <ul class="list-unstyled">
        <li><a href="#" >Global location</a></li>
        <li><a href="#" >Missions</a></li>
        <li><a href="#" >Careers </a></li>
        <li><a href="#" >Investors </a></li>
        <li><a href="#" >News rooms </a></li>
      </ul>
    </div>
    <div class="col-xl-2 col-lg-3 col-sm-4">
      <h3>Impact</h3>
      <ul class="list-unstyled">
        <li><a href="#" >Creator awards</a></li>
        <li><a href="#" >Creative ideas</a></li>
        <li><a href="#" >Refuge initiatives </a></li>
        <li><a href="#" >Residents </a></li>
      </ul>
    </div>
    <div class="col-xl-2 col-lg-2 col-sm-4">
      <h3>Partnership</h3>
      <ul class="list-unstyled">
        <li><a href="#" >Brookers</a></li>
        <li><a href="#" >Impact coffee</a></li>
        <li><a href="#" >Table talk</a></li>
        <li><a href="#" >Push door </a></li>
      </ul>
    </div>
   
  </div>
</div>
</footer>