<footer class="footer-area-l2 bg-skeptic position-relative">
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-12">
        <div class="cta-area-l2">
          <div class="section__heading text-center">
            <h2>Subscribe to get instant job alerts</h2>
            <p>Don’t wanna miss something? Subscribe right now and get<br class="d-none d-md-block"> special promtion and monthly newsletter</p>
          </div>
            <form action="#" class="subscribe-newsletter-l2 mx-sm-auto d-sm-flex justify-content-sm-between align-items-center">
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
              <button class="btn btn-style-03 focus-reset">Explore Now</button>
            </form>
          
        </div>
    </div>
  </div>
  <div class="row justify-content-center text-center text-lg-start footer-l2-area-items">
    <div class="col-lg-2">
      <div class="footer-logo-l2">
        <img src="image/logo/logo-black.png" alt="image">
      </div>
    </div>
    <div class="col-lg-7">
      <ul class="list-unstyled d-flex flex-wrap justify-content-center footer-menu-item-l2">
        <li><a href="#" >Discover</a></li>
        <li><a href="#" >Special Deals</a></li>
        <li><a href="#" >Community </a></li>
        <li><a href="#" >About Us </a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <ul class="list-unstyled footer-social-icon-l2">
        <li><a href="#" ><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" ><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" ><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>