<footer class="footer-area-l4 bg-ebony position-relative">
<div class="container">
  <div class="row justify-content-center footer-l4-area-items">

      <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6">
        <div class="footer-l4-block">
          <h3>VISIT US</h3>
          <p>2800 S. River Rd. Suite 500<br>
            Des Plaines, IL 60018</p>
            <ul class="list-unstyled footer-social-icon-l4">
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
          
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-5 col-md-6">
        <div class="footer-l4-block">
          <h3>REACH OUT</h3>
          <p>hello@facdustrian.com<br> +44123456789</p>
        </div>
      </div>
      <div class="offset-xxl-1 col-xxl-5 col-xl-5 col-lg-10">
        <h3>GET IN CONTACT</h3>
          <div class="contact-form-l4">
            <form action="#">
                <div class="d-sm-flex  name-email-area justify-content-between">
                  <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Full name">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                  </div>
                </div>

                <div class="form-group">
                  <textarea id="message" class="form-control" placeholder="Message"></textarea>
                </div>

                <div class="send-btn">
                  <button class="btn btn-style-04 focus-reset">send</button>
                </div>

            </form>
          </div>
      </div>
   
  </div>
  <div class="row justify-content-center copyright-area-l4">
    <div class="col-xl-12 col-lg-10">
      <p>© 2021 FinestDevs All Rights Reserved.</p>
    </div>
  </div>
</div>
</footer>