<footer class="footer-area position-relative">
  <div class="curve-image-l1">
    <img src="./image/landing-1/white-shape.svg" alt="image" class="w-100">
</div>
<div class="container">
  <div class="row justify-content-center footer-l1-area-items">
    <div class="col-xl-2 col-lg-2 col-md-3 col-xs-4 col-6 order-2 order-lg-1">
      <h3 >Company</h3>
      <ul class="list-unstyled">
        <li><a href="#" >About us</a></li>
        <li><a href="#" >Contact us</a></li>
        <li><a href="#" >Careers</a></li>
        <li><a href="#" >Press</a></li>
      </ul>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-xs-4 col-6 order-3 order-lg-2">
      <h3 >Product</h3>
      <ul class="list-unstyled">
        <li><a href="#" >Features</a></li>
        <li><a href="#" >Pricing</a></li>
        <li><a href="#" >News</a></li>
        <li><a href="#" >Help desk</a></li>
        <li><a href="#" >Support</a></li>
      </ul>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-xs-4 col-12 order-4 order-lg-3">
      <h3 >Services</h3>
      <ul class="list-unstyled ">
        <li><a href="#" >Digital Marketing</a></li>
        <li><a href="#" >Content Writing</a></li>
        <li><a href="#" >SEO for Business</a></li>
        <li><a href="#" >UI Design</a></li>
      </ul>
    </div>
    <div class="offset-xl-1 col-xl-4 col-lg-5 col-md-10 mb-9 col-sm-12 order-1 order-lg-4">
    
        <h3>Newsletter</h3>
          <div class="bg-catskill subscribe-newsletter">
            <h4>Get monthly updates on your inbox</h4>
            <form action="#" class="d-sm-flex">
              <input type="email" class="form-control" id="email-2" name="email" placeholder="Enter your email">
              <button class="btn btn-style-02">Subscribe</button>
            </form>
            <p>We won’t spam you at all!</p>
          </div>
      
    </div>
  </div>
</div>
</footer>